{% comment %}<!--
Contact Form.

This file can be included on any page where the collaborative workspace 
interest form should be displayed.  Currently it is a part of the stand alone 
form page (/contact-us/).
        
-->{% endcomment %}

<form name="cuForm" id="cuForm" method="POST">
  <div class="row">
    <div class="col-xs-12">
      <h4>Stratify Labs New Client Contact Form</h4>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <p>We are excited about the opportunity to help you bring your idea to market. Please fill out the form below so that we can get back to you as quickly as possible.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div class="form-legend">
    		<span class="req">* Required</span>
    	</div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div>
    		<label for="emailAddress">Email Address <span class="req">*</span></label>
    	</div>
    	<div>
        <input type="email" class="form-control" placeholder="Your email" id="emailAddress" name="emailAddress" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div>
    		<label for="entry.1821144503">How did you hear about Stratify Labs? <span class="req">*</span></label>
    	</div>
    	<div>
        <input type="text" class="form-control" placeholder="Your answer" id="entry.1821144503" name="entry.1821144503" required>
      </div>
    </div>
  </div>
  <div class="row form-subheader">
    <div class="col-xs-12">
      <div class="form-subheader-container" role="heading">
        <div>Contact Info</div>
      </div>
      <div class="form-subheader-triangle">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
          <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
        </svg>
      </div>
    </div>
  </div>  
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1277414663">Name <span class="req">*</span></label>
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Your answer" id="entry.1277414663" name="entry.1277414663" required>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.2061735377">Phone Number <span class="req">*</span></label>
      </div>
      <div>
        <input type="text" class="form-control" placeholder="Your answer" id="entry.2061735377" name="entry.2061735377" required>
      </div>
    </div>
  </div>
  <div class="row form-subheader">
    <div class="col-xs-12">
      <div class="form-subheader-container" role="heading">
        <div>Scope of Work</div>
      </div>
      <div class="form-subheader-triangle">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
          <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.423030335">What are the two most important aspects of the development effort? <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Development costs" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Development costs</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Time to market" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Time to market</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.423030335' value="Quality product meeting all requirements" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Quality product meeting all requirements</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.905578561">What is the budget for this development effort? <span class="req">*</span></label>
        <p class="form-question-desc">It is very important for us to understand your budget constraints. For every project we do, we must ensure that our clients budget matches their expectations concerning the final product. Talking about the budget early and often helps to ensure a smooth development effort.</p>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="Less than $10,000" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Less than $10,000</span>
        </label>
        <label class="btn form-control">
          <input type="radio" name="entry.905578561" value="More than $10,000 but less than $100,0000"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i><span> More than $10,000 but less than $100,0000</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="More than $100,000 but less than $1M"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than $100,000 but less than $1M</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.905578561" value="More than $1M"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than $1M</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.999538614">What is the target date to start selling the product? <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.999538614" value="Less than 3 months from now" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Less than 3 months from now</span>
        </label>
        <label class="btn form-control">
          <input type="radio" name="entry.999538614" value="Between 3 months and 6 months from now"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i><span> Between 3 months and 6 months from now</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.999538614" value="Between 6 months and 12 months from now"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Between 6 months and 12 months from now</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.999538614" value="More than $1M"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 12 months from now</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.2076440457">What type of services do you require? <span class="req">*</span></label>
        <p class="form-question-desc">Please check all that apply.</p>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="CTO and Product Management Consulting" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> CTO and Product Management Consulting</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Turn-key Product Development" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Turn-key Product Development</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Product Design" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Product Design</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Mechanical Engineering" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Mechanical Engineering</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Electrical Engineering" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Electrical Engineering</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Firmware Engineering" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Firmware Engineering</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.2076440457' value="Software Development" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Software Development</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row form-subheader">
    <div class="col-xs-12">
      <div class="form-subheader-container" role="heading">
        <div>Product Market Information</div>
      </div>
      <div class="form-subheader-triangle">
        <svg xmlns="http://www.w3.org/2000/svg" version="1.1" viewBox="0 0 14 10" preserveAspectRatio="none">
          <polygon class="freebirdSolidFill" points="0,0 13,0 0,13"></polygon>
        </svg>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1505721761">In which industry will the product be sold? <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" value="Consumer" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Consumer</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" value="Industrial"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Industrial</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" value="Business/Commercial"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Business/Commercial</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" value="Automotive"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Automotive</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" value="Medical"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Medical</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1505721761" id="entry.1505721761.other-option" value="__other_option__"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Other <input type="text" class="form-control other" id="entry.1505721761.other_option_response" name="entry.1505721761.other_option_response"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.2141793368">Do you currently sell products in this industry? <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.2141793368" value="Yes" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Yes</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.2141793368" value="No, we sell products in a different industry"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> No, we sell products in a different industry</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.2141793368" value="No, this is our first product"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> No, this is our first product</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1227325807">What is your target market size for the first year?  <span class="req">*</span></label>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="Less than 1,000 units" required><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> Less than 1,000 units</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="More than 1000 units but less than 10,000 units"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 1000 units but less than 10,000 units</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="More than 10,000 units but less than 100,000 units"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 10,000 units but less than 100,000 units</span>
        </label>
        <label class="btn active form-control">
          <input type="radio" name="entry.1227325807" value="More than 10,000 units"><i class="fa fa-circle-o fa-big"></i><i class="fa fa-dot-circle-o fa-big"></i> <span> More than 10,000 units</span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
      <div>
        <label for="entry.1799556590">What technologies are required for your product? <span class="req">*</span></label>
        <p class="form-question-desc">Please check all that apply.</p>
      </div>
      <div class="btn-group btn-group-vertical" data-toggle="buttons">
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Bluetooth" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Bluetooth</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Wifi" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Wifi</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Ethernet" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Ethernet</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="USB" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> USB</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Audio" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Audio</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Zigbee, Z-Wave or Other RF Protocol" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Zigbee, Z-Wave or Other RF Protocol</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Battery Powered" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Battery Powered</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Embedded Microcontroller Software" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Embedded Microcontroller Software</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Embedded Software on Linux" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Embedded Software on Linux</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Mobile Software" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Mobile Software</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Desktop Software" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Desktop Software</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' value="Web Software" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Web Software</span>
        </label>
        <label class="btn form-control">
          <input type="checkbox" name='entry.1799556590' id="entry.1799556590.other-option" value="__other_option__" required><i class="fa fa-square-o fa-big"></i><i class="fa fa-check-square fa-big"></i> <span> Other <input type="text" class="form-control other" id="entry.1799556590.other_option_response" name="entry.1799556590.other_option_response"></span>
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12">
    	<div class="form-group">	
				<button type="submit" class="btn btn-lg btn-success submitbtn">Submit</button>
      </div>
    </div>
  </div>
</form>