
.post_image {
  width: 100%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.post_image_tall {
  width: 50%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.post_image_home {
  width: 20%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.post_equation {
  width: 50%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.anchor{
  padding-top: 50px; 
  margin-top: -50px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

  table.center {
    margin-left:auto; 
    margin-right:auto;
    width: 75%;
  }

/******************************************************************************
/* Form Styling */
#ciForm, #cuForm {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0;
  background-color: #fff;
}

.req {
  color:#db4437;
}

.form-control, .btn.form-control, .form-control:focus, .form-control.focus, 
.form-control.active.focus, .form-control>span:focus, label, label:focus,
.btn.active:focus {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  outline: 0;
}

.form-control {
  background-color: transparent;
}

input[type="text"].form-control, input[type="email"].form-control  {
  padding: 6px 0px;
  border-bottom: 1px solid #ccc;
}

input[type="text"].form-control.other {
  display: inline;
  margin: 0;
  padding: 0;
  height: 75%;
  width: 75%;
}

.btn.form-control {
  text-align: left;
  padding-left: 0px;
}

.fa-big {
  font-size: 20px;
}

label input[type="radio"] ~ i.fa.fa-circle-o, 
label input[type="checkbox"] ~ i.fa.fa-square-o {
  color: #c8c8c8;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o, 
label input[type="checkbox"] ~ i.fa.fa-check-square,
label input[type="checkbox"]:checked ~ i.fa.fa-square-o,
label input[type="radio"]:checked ~ i.fa.fa-circle-o,
div#provider-type-field, 
div#member-skills-field {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o,
label input[type="checkbox"]:checked ~ i.fa.fa-check-square {
  color: #344555;
  display: inline;
}

label:hover input[type="radio"] ~ i.fa {
  color: #344555;
}

.row.invalid-row {
  background-color: #ffebee;
}

#ciForm .row, #cuForm .row {
  margin-bottom: 10px;
  padding-bottom: 10px;
  padding-top: 10px;
}

.error-message {
  color: red;
  padding-top: 10px;
}

.form-subheader {
  margin-left: -35px;
}

.form-subheader-container {
  background-color: #344555;
  padding: 10px 0px 10px 20px;
  color: #fff;
  float: left;
}

.form-subheader-triangle {
  float:left;
}

.form-subheader-triangle svg {
  height: 100%;
  overflow: hidden;
  position: absolute;
}

.form-subheader-triangle svg polygon {
  fill: #344555;
  stroke: #344555;
  stroke-width: 1;
}

.form-question-desc {
  font-size: 12px;
}

input#mce-EMAIL {
  width: 100%;
}

/******************************************************************************
/* Blog Styling */
article.post-card {
  box-shadow: 0 3px 13px 1px rgba(0,0,0,0.12);
  transition: .3s all ease-in-out;
  padding:20px;
  margin-bottom:30px;
  margin-top: 22px;
  border: 1px solid rgba(0,0,0,0.12);
  border-radius: 15px;
}

article.post-card:hover {
  box-shadow: 0 1px 1px 1px rgba(0,0,0,0.06);
  background-color: #FAFAFA;
}

.post-title h2 {
  font-size:20px;
  margin:0;
}

.post-title:hover {
  text-decoration: none;
}

.post-categories {
  margin: 10px 0;
  float:left;
  font-size:14px;
}

.post-date {
  margin: 10px 0;
  float:right;
  font-size:14px;
}

.post-content .btn {
  margin: 20px 0;
}

.post-meta {
  border-top: 2px solid #ededed;
  padding-top: 30px;
}

.post-meta-categories a {
  font-size:14px;
  text-transform:uppercase;
  background-color: #ededed;
  display: inline-block;
  margin-left: 5px;
  padding:5px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.post-meta-categories a:hover {
  background-color: #44546a;
  color: #fff;
}

.container .pagination {
  width:100%;
}

.prev-page {
  float:left;
}

.next-page {
  float:right;
}

/******************************************************************************
/* Blog Sidebar Styles */
.filter-col-ctn h2 {
  font-size: 20px;
  margin: 22px 0 20px 0;
  font-weight: 400;
}

.filter-col-ctn ul {
  list-style: none;
  font-size: 14px;
  text-transform: uppercase;
  padding: 0;
  margin-bottom: 40px;
}

.filter-col-ctn .tagcloud, .filter-col-ctn form {
  margin-bottom: 40px;
}

.filter-col-ctn ul li {
  padding: 12px 1px;
  border-bottom: 1px solid #e3e3e3;
}

.filter-col-ctn .badge {
  float: right;
}

.tagcloud a {
  background-color: #888;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  letter-spacing: 1px;
  margin: 0 4px 8px 0;
  padding: 6px 8px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  transition: all 0.3s;
}

.tagcloud a:hover {
  background-color: #44546a;
}

/******************************************************************************
/* Infinite scroll loading spinner and animation */
.infinite-spinner {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 40px;
  background-color: #333;
  margin: 60px auto;
  -webkit-animation: scaleout 1.0s infinite ease-in-out;
  animation: scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}
