
.post_image {
	width: 100%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.post_image_tall {
	width: 50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.post_image_home {
  width: 20%; 
  display: block; 
  margin-left: auto; 
  margin-right: auto;
}

.post_equation {
	width: 50%; 
	display: block; 
	margin-left: auto; 
	margin-right: auto;
}

.anchor{
	padding-top: 50px; 
	margin-top: -50px;
}

.flex-video {
  position: relative;
  padding-top: 25px;
  padding-bottom: 67.5%;
  height: 0;
  margin-bottom: 16px;
  overflow: hidden;
}
 
.flex-video.widescreen { padding-bottom: 57.25%; }
.flex-video.vimeo { padding-top: 0; }
 
.flex-video iframe,
.flex-video object,
.flex-video embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media only screen and (max-device-width: 800px), only screen and (device-width: 1024px) and (device-height: 600px), only screen and (width: 1280px) and (orientation: landscape), only screen and (device-width: 800px), only screen and (max-width: 767px) {
  .flex-video { padding-top: 0; }
}

  table.center {
    margin-left:auto; 
    margin-right:auto;
    width: 75%;
  }

/******************************************************************************
/* Form Styling */
#ciForm {
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  padding: 20px;
  margin: 40px 0;
  background-color: #fff;
}

.req {
  color:#db4437;
}

.form-control, .btn.form-control, .form-control:focus, .form-control.focus, 
.form-control.active.focus, .form-control>span:focus, label, label:focus,
.btn.active:focus {
  border: 0;
  border-radius: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: none;
  -o-transition: none;
  transition: none;
  outline: 0;
}

.form-control {
  background-color: transparent;
}

input[type="text"].form-control, input[type="email"].form-control  {
  padding: 6px 0px;
  border-bottom: 1px solid #ccc;
}

input[type="text"].form-control.other {
  display: inline;
  margin: 0;
  padding: 0;
  height: 75%;
  width: 75%;
}

.btn.form-control {
  text-align: left;
  padding-left: 0px;
}

.fa-big {
  font-size: 20px;
}

label input[type="radio"] ~ i.fa.fa-circle-o, 
label input[type="checkbox"] ~ i.fa.fa-square-o {
  color: #c8c8c8;
  display: inline;
}

label input[type="radio"] ~ i.fa.fa-dot-circle-o, 
label input[type="checkbox"] ~ i.fa.fa-check-square,
label input[type="checkbox"]:checked ~ i.fa.fa-square-o,
label input[type="radio"]:checked ~ i.fa.fa-circle-o,
div#provider-type-field, 
div#member-skills-field {
  display: none;
}

label input[type="radio"]:checked ~ i.fa.fa-dot-circle-o,
label input[type="checkbox"]:checked ~ i.fa.fa-check-square {
  color: #344555;
  display: inline;
}

label:hover input[type="radio"] ~ i.fa {
  color: #344555;
}

.row.invalid-row {
  background-color: #ffebee;
}

#ciForm .row {
    margin-bottom: 10px;
    padding-bottom: 10px;
    padding-top: 10px;
}

.error-message {
    color: red;
    padding-top: 10px;
}