<script type="text/javascript">

function register_click(name){
	$("#" + name).click( function(){
		$(".tag-list-item").removeClass("active");
		$("#" + name).addClass("active");
		$(".tagged").addClass("hidden");
		$("." + name).removeClass("hidden");
	});	
}

$(document).ready( function(){
	{% for tag in site.tags %}
	register_click("{{ tag[0] }}");	
	{% endfor %}
	
	$("#all").click(function(){
		$(".tagged").removeClass("hidden");
		$(".tag-list-item").removeClass("active");
	});
});

</script>

<div style="background: #344555; color: #fff;">
	<div class="container">
		<div class="row" style="margin-top: 50px; margin-bottom: 50px;">
			<div class="col-md-3 text-center">
				<h1><i class="{{ page.sections['icon'] }}"></i></h1>
			</div>
			<div class="col-md-9">
				<h1><b>{{ page.sections['intro'] }}</b></h1>
				<h3>{{ page.sections['brief'] }}</h3>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-8 posts-list">
			{{ content }}
		</div>
		<div class="col-md-4">
<!-- 			<h2><i class="fa fa-filter"></i> Filter
			<button id="all" class="btn btn-default pull-right"><i class="fa fa-refresh"></i></button>
			</h2>
			<ul class="list-inline">
				{% assign tags_list = site.tags %}
				{% include JB/tags_list_group %}
			</ul>
			<div class="list-inline">
				{% include themes/twitter/nav-buttons %}
			</div> -->
			{% include JB/blog-sidebar.html %}
		</div>
	</div>
	<div class="infinite-spinner"></div>
</div>

