<div style="background: #344555; color: #fff;">
	<div class="container">
		<div class="row" style="margin-top: 50px; margin-bottom: 50px;">
			<div class="col-md-3 text-center">
				<h1>
				{% if page.sections['intro'] %}
					<i class="{{ page.sections['icon'] }}"></i>
				{% else %}
					<i class="fa fa-newspaper-o fa-5x"></i>
				{% endif %}
				</h1>
			</div>
			<div class="col-md-9">
				{% if page.sections['intro'] %}
				<h1><b>{{ page.sections['intro'] }}</b></h1>
				{% else %}
				<h1><b>Blog</b></h1>
				{% endif %}
				<h3>{{ page.title }}</h3>
			</div>
		</div>
	</div>
</div>

<div class="container">
	<div class="row" style="margin-top: 20px;">
		<div class="col-md-8">

			<div class="pagination">
				<center>
					{% if page.previous %} 
						<a href="{{ BASE_PATH }}{{ page.previous.url }}" rel="prev" class="prev-page"><span class="meta-nav">←</span> Previous Post</a>
					{% endif %} 

					{% if page.next %} 
						<a href="{{ BASE_PATH }}{{ page.next.url }}" rel="next" class="next-page">Next Post <span class="meta-nav">→</span></a>
					{% endif %}
				</center>
			</div>

			{% if page.ad %}
			<div class="filter-col-ctn" style="padding: 10px;text-align: center;">
			  <img src="/images/{{ page.ad['image'] }}" style="margin-bottom:20px;">
			  <p>{{ page.ad['description'] }}</p>
			</div>
			{% endif %}

			<h1>{{ page.title }}</h1>
			{% if page.tagline %}<h2>{{page.tagline}}</h2>{% endif %}

			<div class="post-categories">
				<strong>Categories:</strong>
					{% for cat in page.category %}
						{% capture same_page %}/tips/category/{{ cat | replace: ' ', '-' }}/{% endcapture %}
					<a href="{{ same_page | prepend: site.baseurl }}" style="font-size:14px;text-transform:uppercase;">{{ cat }}</a>{% unless forloop.last %},{% endunless %}
					{% endfor %}
			</div>
			<div class="post-date">
				<strong>{{ page.date | date:"%B %-d, %Y" }}</strong>
			</div>
			<div class="clearfix"></div>


					{{ content }}

			<div class="post-meta" style="padding-bottom: 30px;">
				<div class="sh-columns post-meta-comments">
					<span class="post-meta-categories"> <i class="fa fa-tag"></i>
						{% for tag in page.tags %}
						<a href="{{ site.baseurl }}/tips/tag/{{ tag | replace: ' ', '-' }}/">{{ tag }}</a>
						{% endfor %}
					</span>
				</div>
			</div>

				
		</div>
		<div class="col-md-4">
			{% include JB/blog-sidebar.html %} 
		</div>
	</div>

</div>


<div class="hidden loading-more">

	{% if page.ad %}
	<div class="filter-col-ctn" style="padding: 10px;text-align: center;">
	  <img src="/images/{{ page.ad['image'] }}" style="margin-bottom:20px;">
	  <p>{{ page.ad['description'] }}</p>
	</div>
	{% endif %}

<article class="post-card">

	<a href="{{ page.url }}" class="post-title"><h2>{{ page.title }}</h2> </a>

	<div class="post-categories">
		<strong>Categories:</strong>
			{% for cat in page.category %}
			{% capture same_page %}/tips/category/{{ cat | replace: ' ', '-' }}/{% endcapture %}
			<a href="{{ same_page | prepend: site.baseurl }}" style="font-size:14px;text-transform:uppercase;">{{ cat }}</a>{% unless forloop.last %},{% endunless %}
			{% endfor %}
	</div>
	<div class="post-date">
		<strong>{{ page.date | date:"%B %-d, %Y" }}</strong>
	</div>
	<div class="clearfix"></div>

	<div class="post-content">
		{{ page.excerpt }}
		<p><a class="btn btn-info" href="{{ page.url }}" title="Read More">Read More</a></p>
	</div>

	<div class="post-meta">
		<div class="sh-columns post-meta-comments">
			<span class="post-meta-categories"> <i class="fa fa-tag"></i>
				{% for tag in page.tags %}
				<a href="{{ site.baseurl }}/tips/tag/{{ tag | replace: ' ', '-' }}/">{{ tag }}</a>
				{% endfor %}
			</span>
		</div>
	</div>
</article>

</div>